## Global settings
global:
  image:
    repository: ""
    tag: ""
    pullPolicy: IfNotPresent
  imagePullSecrets: []
  certificate:
    duration: 720h0m0s
    renewBefore: 360h0m0s
    privateKey:
      algorithm: ECDSA
      size: 384
    issuerRef:
      kind: ClusterIssuer
      name: vault-forge-issuer
      group: cert-manager.io
  spiffe:
    trustDomain: forge.local
  labels:
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/part-of: site-controller

## Override the release namespace (defaults to helm install -n <namespace>)
namespaceOverride: ""

replicas: 1

service:
  port: 9009

certificate:
  ## serviceName is used to auto-generate dnsNames and SPIFFE URIs based on the release namespace
  serviceName: carbide-dsx-exchange-consumer
  extraDnsNames: []
  extraUris: []

env:
  RUST_BACKTRACE: "full"
  RUST_LIB_BACKTRACE: "0"

livenessProbe:
  httpGet:
    port: 9009
    scheme: HTTP
  initialDelaySeconds: 20
  periodSeconds: 300
  failureThreshold: 3
  successThreshold: 1

serviceMonitor:
  enabled: false
  interval: 30s
  scrapeTimeout: 25s
